.Tareas_container {
  background-color: #d3e5ff; /* Color celeste */
  padding: 20px;
  border: 1px solid #b3d7ff; /* Borde celeste más oscuro */
  border-radius: 5px;
  margin-top: 20px;
}

.Tareas_container li {
  border-bottom: 1px solid #b3d7ff; /* Línea divisoria celeste */
  padding: 10px 0;
}

.Tareas_container li:last-child {
  border-bottom: none; /* Eliminar la línea divisoria en el último elemento */
}

.Tareas_container span {
  margin-right: 10px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
